.container {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;

}

 .flip-container {
      -webkit-perspective: 1000px;
      -moz-perspective: 1000px;
      -ms-perspective: 1000px;
      perspective: 1000px;
      -ms-transform: perspective(1000px);
      -moz-transform: perspective(1000px);
          -moz-transform-style: preserve-3d; 
          -ms-transform-style: preserve-3d; 
      border: 1px solid #ccc;
    }
.flipper{
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
      
      .horizontal-left .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        filter: FlipH;
          -ms-filter: "FlipH";

}
 .horizontal-right .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        filter: FlipH;
          -ms-filter: "FlipH";
          
}
.vertical-top .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        transform: rotateX(180deg);
        filter: FlipV;
          -ms-filter: "FlipV";
}
.vertical-down .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
        filter: FlipV;
          -ms-filter: "FlipV";
}
      
    /*--------------------------------------------*/

.rotate_left {
  background-image: url("img/arrow.png");
  width: 64px;
  height: 64px;
  cursor: pointer;
  transition: "1s";
  }
  .arrow-green {
    color: green;
  }

  .rotate_right {
  background-image: url("img/arrow.png");
  width: 64px;
  height: 64px;
  transform: rotateY(180deg); 
  cursor: pointer;
 
  }
  .rotate {
    transform: rotate(90deg);
    transition: "1s";
  }
  .unrotate {
    transform: rotate(-90deg);
    transition: "1s";
  }